apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: api

resources:
  - ../../base
  - namespace.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - external-secret-db.yaml
  - external-secret-ghcr.yaml

patches:
  - path: deployment-patch.yaml

images:
  - name: ghcr.io/mmzitarosa/guitartortona-api
    newTag: v1.0.1